<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Stats | ACM GMRIT</title>

   <link rel="stylesheet" href="../bootstrap_dark.min.css">
   <link rel="stylesheet" href="../member_detail_style.css">
  
</head>
<body>
    <div class="container-fluid">
        <div class="grid-7 element-animation">
            <div class="card color-card">

                <img src="../img/profile.svg" alt="profile-pic" class="profile">
                <h2 class="title">Name</h2>
                <p class="job-title"> ACM ID</p>
                <div class="desc top">
                    <p>JNTU Number</p>
                    <p>Email</p>
                    <p>Phone Number</p>
                </div>

                <hr>
                <div class="container">
                    <div class="content">
                        <div class="grid-2">
                            <button class="color-b circule"> <i class="fab fa-dribbble fa-2x"></i></button>
                            <h5 class="title">DATE</h5>
                            <p class="followers">Valid Upto</p>
                        </div>
                        <div class="grid-2">
                            <button class="color-c circule"><i class="fab fa-behance fa-2x"></i></button>
                            <h5 class="title">1</h5>
                            <p class="followers"> Active Years</p>
                        </div>
                        <div class="grid-2">
                            <button class="color-d circule"><i class="fab fa-github-alt fa-2x"></i></button>
                            <h5 class="title">17</h5>
                            <p class="followers">No of Events Participated</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</body>
</html>